.dlc_body {
    background: url('/files/web/gc4ex_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.dlc_container {
    max-width: 800px;
    height: 90vh;
    margin: 0px auto;
    padding: 20px;
}
.dlc_container_extra {
    max-width: 800px;
    height: 70vh;
    margin: 0px auto;
    padding: 20px;
}
.dlc_logo {
    width: 70vw;
    max-width: 1000px;
    margin-bottom: 10px;
}
.dlc_extra_body {
    background: url('/files/web/extra_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.text-content {
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.buy-button {
    display: inline-block;
    width: 30vw;
    height: 20vw;
    background: url('/files/web/frame_buy.png') no-repeat center center;
    background-size: contain;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.quit-button {
    display: inline-block;
    width: 33vw;
    height: 10vw;
    background: url('/files/web/quit_button.png') no-repeat center center;
    background-size: contain;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.buy-button-extra {
    display: inline-block;
    width: 30vw;
    height: 20vw;
    background: url('/files/web/frame_buy_extra.png') no-repeat center center;
    background-size: contain;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.quit-button-extra {
    display: inline-block;
    width: 33vw;
    height: 10vw;
    background: url('/files/web/quit_button_extra.png') no-repeat center center;
    background-size: contain;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.coin-icon {
    width: 7vw;
    height: 7vw;
    margin-left: 5px;
}
.coin-price {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
}
body {
    background-color: #000000;
    -webkit-text-size-adjust: none;
    padding: 0px;
    margin: 0 auto;
    text-align:center;
    color: #FFFFFF;
    -webkit-text-size-adjust: auto;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(255,255,0,0.4);
    height: 100%;
    font-family: Hiragino Kaku Gothic ProN,Hiragino Kaku Gothic Pro,Meiryo,Helvetica,Arial,sans-serif;
    font-size: 34pt;
    line-height: 36pt;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}
html {
    overscroll-behavior-x: none;
}
.d_bl{display:block;}
.a_left{text-align:left;}
.a_center{text-align:center;}
.w90{width:90%;}
.w100{width:100%;}
.d_ib{display:inline-block;}
.mb10p{margin-bottom:10%;}
.f90{font-size:90%;}
.f80{font-size:70%;}
.pt50{padding-top:50px;}
.f20{font-size:20%;}
.f30{font-size:30%;}
.f40{font-size:40%;}
.f50{font-size:50%;}
.f60{font-size:60%;}
.f70{font-size:70%;}
.plr25{padding-left:25px;padding-right:25px;}
.plr50{padding-left:50px;padding-right:50px;}
.m_auto{margin: 0px auto;}
#header {
    text-align: center;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
    top: 0px;
    width: 100%;
    padding: 0px;
    display: block;
    z-index: 4;
    position: fixed;
}
div#wrapper{
    width: 100%;
    position: relative;
    z-index: 1;
}
.wrapper_box{
    text-align:center;
    margin-top:5%;
    display: inline-block;
    position: relative;
    width: 100%;
}
.ttl_height{
    height:40px;
    margin:20px 0px;
}
.bt_bg01 {
    background: url("/files/web/bt_bg01_640.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 10px;
    font-size: 26px;
    display: block;
    text-align:center;
    font-size:70%;
    width:380px;
    height: 61px;
    color: #DDDDDD;
    margin: 20px auto;
}
.title-image {
    width: 40vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}
.mission-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.mission-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.mission-level {
    font-weight: bold;
    color: #DDD;
}

.mission-song {
    color: #EEE;
}

.bt_bg01_narrow {
    background: url("/files/web/bt_bg01_640.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 10px;
    display: block;
    text-align:center;
    font-size:70%;
    width:285px;
    height: 61px;
    color: #DDDDDD;
    margin: 20px auto;
}
.input{
    font-size: 1em;
    background-color: #000000;
    color: #dddddd;
}

.bt_bg01_xnarrow {
    background: url("/files/web/bt_bg04_640.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    display: block;
    text-align:center;
    font-size:70%;
    width:250px;
    height: 42px;
    color: #DDDDDD;
    margin: 20px auto;
}

.bt_bg01_ac {
    background: url("/files/web/bt_bg04_ac_640.gif");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    display: block;
    text-align:center;
    font-size:70%;
    width:250px;
    height: 42px;
    color: #DDDDDD;
    margin: 20px auto;
}
.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.song-item {
    margin-bottom: 1px;
}

.song-button-owned {
    display: block;
    padding: 15px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 26px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.song-button-unowned {
    display: block;
    padding: 15px;
    background-color: #333333;
    color: #888888;
    text-decoration: none;
    text-align: left;
    font-size: 26px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.song-name {
    font-size: 26px;
    flex-shrink: 0;
}

.mode-buttons {
    flex-shrink: 0;
}

.composer-name-owned {
    font-size: 20px;
    color: #aaaaaa;
}
.composer-name-unowned {
    font-size: 20px;
    color: #555555;
}
.song-button-owned:hover {
    background-color: #444444;
}

.song-button-unowned:hover {
    background-color: #444444;
}
.song-item + .song-item {
    border-top: 1px solid #444444;
}
.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.player-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("/files/web/PLAYERback.gif") no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    height: 100px;
    width: 98%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}

.player-info {
    flex-grow: 0.9;
    text-align: left;
}

.name {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.title {
    height: 40px;
    width: auto;
}

.player-score {
    font-size: 40px;
    font-weight: bold;
    color: #FFD700;
    text-align: left;
    margin-right: 100px;
}
.rank {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}
.avatar {
    width: 70px;
    height: 70px;
    background-color: black;
    border: 2px solid #333;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 8px;
    padding: 20px;
}

.leaderboard-player {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333; 
    color: #ddd; 
}

.leaderboard-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.leaderboard-score {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-right: 100px;
}

.title-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.title-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.title-image-selected {
    width: 40vw;
    height: auto;
    border: 3px solid lightgray;
    pointer-events: none;
}

.title-image:hover {
    transform: scale(1.1);
}

.rank-align-top {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.loading-back-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 380px;
    height: 61px;
    background: url("/files/web/bt_bg01_640.gif") no-repeat center center;
    background-size: cover;
    color: #DDDDDD;
    font-size: 70%;
    text-align: center;
    line-height: 61px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


#ranking_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.song-list {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

#ranking_searchbar,
#ranking_sort {
    flex-shrink: 0;
}

#ranking_box {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
}

.leaderboard-players {
    flex-grow: 1;
    height: 90%;
    overflow-y: auto;
    margin: 0;
    list-style: none;
}

.pagination-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 10px 0;
}

.pagination-button {
    width: 170px; 
    height: 40px; 
    background-color: #000000; 
    color: #FFFFFF; 
    border: 1px solid #808080; 
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}

.pagination-button:hover {
    background-color: #333333; 
}

.placeholder {
    flex: 0.25;
}

.pagination-button-shop {
    width: 170px;
    height: 40px; 
    margin: 10px; 
    background-color: #000000; 
    color: #FFFFFF;
    font-size: 24px;
}